ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

/* index */
.card-width {
	width: 18rem;
}

.separate-line {
	display: block;
	margin: auto;
}

/* new/edit */
.center-form {
	width: 30%; 
	margin: 25px auto;
}

/* index/show */
.delete-form {
	display: inline;
}

